<div class="row col-xs-12 col-sm-8" style="margin: 0;">
	<!-- blog content -->
	<div ng-repeat="template in templates">
		<div class="row templates blog-img">
			<div class="blog-title">
				<h3 class="details-title">{{template.name}}</h3>
				<hr>
			</div>
			<div>
				<p class="subtitles">{{template.post_date}} || Location: {{template.post_location}}</p>
			</div>
			<div>
				<img src="img/{{template.image_folder}}/{{template.images[1].name}}" class="img-full details-img">
			</div>
			<div class="details-description description-container">
				<p>{{template.description1}}</p>
			</div>
			<div class="button-container">
				<p class="ellipsis">...</p>
				<a href="blog/{{template.urlName}}" class="read-more">READ MORE</a>
				<hr>
				<hr>
			</div>
		</div>
	</div>
</div>
<div class="side-bar col-sm-4">
	<p>INSTAGRAM</p>
	<!-- INSTANSIVE WIDGET -->
	<script src="//instansive.com/widget/js/instansive.js"></script>
	<iframe src="//instansive.com/widgets/be7c12851e40146abb51c7b0597368aca37abf36.html" id="instansive_be7c12851e" name="instansive_be7c12851e"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; height: 100%; border: 0; overflow: hidden;"></iframe>
</div>
<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57925259-2', 'auto');
      ga('send', 'pageview', 'blog home');

    </script>